html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Numans', sans-serif;
}

body {
    background-image: url('../images/image_elegant1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center; /* Centralizar verticalmente */
}

.card {
    background-color: rgba(0, 0, 0, 0.5); 
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0; 
}

input:focus {
    outline: none; 
    box-shadow: none; 
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.error a {
    color: #A94442; 
}

a {
    float: right;
    background: #555;
    padding: 0px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}


